.App {
  height: 85vh;
}

.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title,
.subtitle {
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 2em;
}

.title:hover {
  cursor: pointer;
}

.subtitle {
  font-size: 1.5em;
  margin: 1vh 0;
}

.members {
  display: flex;
  width: 100%;
  justify-content: left;
  flex-wrap: wrap;
}

.card,
.card-solo {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, rgb(255, 223, 118), rgb(233, 201, 162));
  padding: 2vh 1vw;
  margin: 1vh 1vw 2vh;
  border-radius: 15px;
}

.card-solo {
  width: 20%;
  margin: 1vh 0;
}

.card:hover {
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card-info {
  padding: 1vh 2vw;
  font-size: 1.1em;
}

span {
  font-weight: bolder;
}

.delete {
  font-size: 1.5em;
  border: none;
  background: none;
  text-align: right;
}

.create {
  align-self: flex-end;
  background-color: #ffbb00;
  border-radius: 15px;
  border: none;
  font-weight: 600;
}

.create-logo {
  font-size: 1.3em;
  margin: 0 2vw 5vh 0;
  padding: 2vh;
}

.create-text {
  font-size: 1.1em;
  margin-top: 1vh;
  padding: 1vh;
  width: 15vw;
}

button:hover {
  cursor: pointer;
}

.create-text:hover {
  cursor: pointer;
}
