.form-entry {
  display: flex;
  justify-content: space-between;
  width: 15vw;
  margin-bottom: 1vh;
}

.form-label {
  margin-right: 1vw;
  font-weight: 600;
}

.form-input {
  padding: 1vh;
  outline: 3px solid #e6a800;
  border: none;
  background: none;
  border-radius: 15px;
}
