@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 5vh;
  background-color: #fcf8ed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 90vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
